@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root{
    --primary-dark: #011a27;
    --secondary-dark: #063852;
    --primary-light: #f0810f;
    --secondary-light: #e6df44;
    --green-dark: rgb(0, 131, 0);
    --green: rgb(0, 153, 0);
    --sourceSan: 'Source Sans Pro', sans-serif;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

input{
    outline: none;
    padding: .25rem .5rem;
}

h1{
    font-family: var(--sourceSan);
}

.switch-theme-check{
    display: none;
}

.switch-theme{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}

.theme-icon-moon{
    width: 1.5rem;
    cursor: pointer;
}

.theme-icon-sun{
    width: 2rem;
    cursor: pointer;
}

/* Mobile CSS */

.mobile-nav{
    height: 10vh;
    display: flex;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
.nav{
    background-color: var(--green) !important;
    color: white !important;
}

nav{
    height: 100vh;
    position: fixed;
    width: 100%;
    top: -100%;
    transition: all .5s;
    z-index: 1;
    background-color: var(--green) !important;
}

.nav ul{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
    height: 10rem;
    order: 2;
}

.nav ul li {
    outline: none;
    color: white;
    font-size: 2.2rem;
}

.nav-modify{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 2;
}

.nav-modify .lang-btn{
    /* appearance: none;
    border: none;

    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 100 !important; */
}

.nav-modify .lang-btn{
    position: relative;
    margin-left: 1rem; 
    /* appearance: none;
    border: none;

    border-radius: 100%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 100 !important;
    margin-left: 1rem; */
}

.selected-lang{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
}

.option-lang-display{
    background-color: var(--green-dark);
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 2rem;
    width: 100px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 50;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}

.option-lang-hide{
    display: none;
}

.option-lang{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding: .75rem;
    cursor: pointer;
}

.option-lang img{
    width: 1rem;
}

.select-theme{
    position: relative;
}

.select-theme .selected-theme{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
    border: 2.5px solid white;
}

.select-theme .option-theme-display{
    z-index: 50;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    width: 50px;
    height: 100px;
    transition: 500ms ease;
    padding: 5px;
    right: 0;
    bottom: 0;
    margin-bottom: 2rem;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    border-radius: 5px;
    background-color: var(--green-dark);
}

.select-theme .option-theme-hide{
    display: none;
}

.select-theme .option-color{
    align-self: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
    border: 2.5px solid white;
    opacity: 1;
}

.select-theme .option-color{
    align-self: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
    border: 2.5px solid white;
    opacity: 1;
}

.login-con{
    width: 100%;
}

.nav-modify .login-btn{
    appearance: none;
    border: none;

    width: 100%;
    padding: .75rem 1rem;
    border-radius: .3rem;
    background-color: white !important;
    color: black !important;
    cursor: pointer;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600 !;
    font-size: 1rem;
    margin-top: 3rem;
}

.login{
    position: relative;
    margin-top: 1rem;
    height: 0;
}

.login::before{
    content: '';
    display: none;
}

.login-d{
    position: relative;
    margin: 1rem 0;
    height: 0; 
}

.login-h{
    height: 0;
    opacity: 0;
    width: 0;
}

.login::before{
    content: '';
    background-color: var(--green-dark);
    width: 20px;
    height: 20px;
    z-index: 3;
    top: 0;
    left: 50%;
    display: unset;
    transform: translateX(-50%);
    position: absolute;
    transform: rotate(45deg) translateX(-50%);
}

.footer-form-show{
    display: inline;
}

.footer-form-hide{
    display: none;
}

.login-show{
    padding: 0 1.25rem;
    width: 100% !important;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--green-dark);
    border-radius: 5px;
    top: 0;
    transition: 500ms ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.login-hide{
    height: 0px;
    width: 350px;
    transition: 500ms ease;
    /* display: none; */
}

.input-con-show{
    width: 100%;
    display: flex;
    justify-items: space-between !important;
    align-items: center;
    background-color: white;
    opacity: 1;
    transition: 500ms;
    transition-delay: 1s;
}

.input-con-hide{
    display: none;
}

.input-icon{
    width: 12%;
    height: 60%;
    color: black;
}

input[name='password'], input[name='username']{
    appearance: none;
    border: none;
    width: 90%;
    padding: .75rem;
}

input[type='submit']{
    appearance: none;
    border: none;
    outline: none;

    cursor: pointer;
    width: 100%;
    padding: .75rem;
}

/* Mobile navbar toggle */

#toggleNav:checked ~ nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    top: 0;
    justify-content: space-evenly;
    font-family: var(--sourceSan);
    transition: all .5s;
    padding: 0 2rem;
}

#toggleNav:checked ~ .nav-modify{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* TABLET CSS */
@media screen and (min-width: 768px) {

    .mobile-nav{
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    nav{
        padding: .75rem 5rem;
        display: flex;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        margin: auto;
        font-family: var(--sourceSan);
        left: 0;
        width: 100vw;   
        position: relative;
        z-index: 1;
    }
    
    .nav ul{
        display: flex; 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 10rem;
        order: 0;
        height: fit-content;
    }

    .nav ul li {
        outline: none;
        color: white;
        font-size: 1.1rem;
    }

    .nav-modify{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .greet-con{
        /* background-color: blue; */
        /* display: inline; */
    }

    .select-theme{
        position: relative;
    }

    .select-theme .selected-theme{
        width: 35px;
        height: 35px;
        border-radius: 100%;
        cursor: pointer;
        border: 2.5px solid white;
    }

    .select-theme .option-theme-display{
        z-index: 50;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        width: 50px;
        height: 100px;
        transition: 500ms ease;
        padding: 5px;
        right: 0;
        bottom: unset;
        box-shadow: 0 5px 10px rgba(0,0,0,.15);
        border-radius: 5px;
        background-color: var(--green-dark);
    }

    .select-theme .option-theme-hide{
        display: none;
    }

    .select-theme .option-color{
        align-self: center;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        cursor: pointer;
        border: 2.5px solid white;
        opacity: 1;
    }

    .select-theme .option-color{
        align-self: center;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        cursor: pointer;
        border: 2.5px solid white;
        opacity: 1;
    }

    .display{
        opacity: 1;
        transition: 500ms;
    }

    .hide{
        opacity: 0;
        transition: 500ms;
    }

    .nav-modify .login-btn{
        appearance: none;
        border: none;

        padding: .75rem 1rem;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: .3rem;
        background-color: var(--secondary-dark);
        cursor: pointer;
        font-size: 1rem;
        font-weight: 100 !important;
        margin-top: 0;
        margin-left: 1rem;
        position: relative;
    }

    .chevron{
        margin-left: .5rem;
    }

    .login-d{
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%);
        margin-top: 3.4rem;
        height: 250px;
        transition: 500ms;
        /* height: fit-content; */
    }

    .login-h{
        height: 0;
        opacity: 0;
        width: 0;
    }

    .login-d::before{
        content: '';
        background-color: var(--green-dark);
        width: 20px;
        height: 20px;
        z-index: 3;
        top: 0;
        left: 50%;
        display: unset;
        transform: translateX(-50%);
        position: absolute;
        transform: rotate(45deg) translateX(-50%);
    }

    .footer-form-show{
        display: inline;
    }

    .footer-form-hide{
        display: none;
    }

    .nav-modify .login-btn span{
        margin-left: 10px;
    }

    .nav-modify .lang-btn{
        position: relative;
        margin-left: 1rem; 
        /* appearance: none;
        border: none;

        border-radius: 100%;
        width: 35px;
        height: 35px;
        cursor: pointer;
        font-size: .9rem;
        font-weight: 100 !important;
        margin-left: 1rem; */
    }

    .selected-lang{
        width: 35px;
        height: 35px;
        border-radius: 100%;
        cursor: pointer;
    }

    .option-lang-display{
        background-color: var(--green-dark);
        position: absolute;
        right: 0;
        width: 150px;
        border-radius: 5px;
        overflow: hidden;
        z-index: 50;
        right: 0;
        top: 0;
        bottom: unset;
        /* bottom: 0; */
        margin-top: 2rem;
        /* margin-bottom: 0; */
        box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
    }

    .option-lang-hide{
        display: none;
    }

    .option-lang{
        display: flex; 
        justify-content: flex-end;
        align-items: center;
        padding: .75rem;
        cursor: pointer;
    }

    .option-lang:hover{
        background-color: var(--green);
    }

    .option-lang img{
        width: 25px;
        margin-left: 5px;
    }
    
    /* LOGIN FORM CSS */
    .login-con{
        position: relative;
        width: fit-content;
    }

    .login-show{
        padding: 0 1.25rem;
        width: 350px !important;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        background-color: var(--green-dark);
        border-radius: 5px;
        top: 0;
        transition: 500ms ease;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    }
    
    .login-hide{
        height: 0px;
        width: 0;
        transition: 500ms ease;
    }

    .login-hide .input-con-hide{
        display: none;
    }

    .login-form p{
        font-size: .95rem;
        font-weight: 600;
    }

    .login-form h4{
        color: var(--secondary-light) !important;
    }

    .login-form p a{
        color: var(--secondary-light) !important;
    }

    .input-con-show{
        width: 100%;
        display: flex;
        justify-items: space-between !important;
        align-items: center;
        background-color: white;
        opacity: 1;
        transition: 500ms;
        transition-delay: 1s;
    }

    .input-con-hide{
        display: none;
        transition: 500ms;
        transition-delay: 1s;
    }

    .input-icon{
        width: 12%;
        height: 100%;
        font-size: 1.2rem;
        display: grid;
        place-content: center;
        background-color: var(--green);
        color: black;
    }

    input[name='password'], input[name='username']{
        appearance: none;
        border: none;
        width: 90%;
        box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, .1);
        padding: .75rem;
    }

    input[type='submit']{
        appearance: none;
        border: none;
        outline: none;

        cursor: pointer;
        width: 100%;
        padding: .75rem;
        border-radius: 2.5px;
        box-shadow: 0 2.5px 7.5px rgba(0, 0, 0, .1);
    }

}

@media screen and (min-width: 1024px) {
  
}

@media screen and (min-width: 1280px) {
  
}

@media screen and (min-width: 1536px) {
  
}